*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    
} 

.container {
    width: 100vw;
    height: 100vh; 
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50rem 2fr 25rem;
    gap: 2rem;
    box-sizing: border-box;
    padding: 2rem;
    
}

.container div {
    border: 2px solid black; 
    font-size: 20rem;    
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;    
    padding-top: 12rem;
    color: black;
}

.header p{
    
}

.content_1 {
    grid-row-start: 2;
    grid-row-end: span 2;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;    
    padding-top: 90rem;
    color: gray;
}

.vertical_box_1 {
    grid-column: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    padding-top: 90rem;    
    color: tomato;
}

.vertical_box_2 {
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;    
    color: teal;
}

.footer {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;    
    color: brown;
}